@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  color: #333;
  background: linear-gradient(
    180deg,
    rgba(236, 240, 248, 1) 0%,
    rgba(246, 246, 248, 1) 100%
  );
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.content,
a {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
  color: #333;
}

header {
  height: 50px;
  display: flex;
  align-items: center;
}
header > h1 {
  font-family: "Inknut Antiqua", serif;
  font-size: 18px;
}

/*----Main----*/
.main {
  display: flex;
  align-items: center;
  gap: 30px;
}
.main-left {
  width: 56%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-right {
  width: 44%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

/*----Map----*/
.map {
  height: 80%;
}
.map-block {
  width: 100%;
  height: 100%;
}

.map-block svg {
  width: 700px;
  height: 700px;
  object-fit: contain;
  display: block;
  aspect-ratio: 1 / 1;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map .st0 {
  fill: #e4f6e3;
}
.map path {
  stroke: #1f5124;
  fill: transparect;
  transition: 0.5s;
}
.map path:hover {
  fill: skyblue;
  cursor: pointer;
}

/*----右半部分----*/
.right-section {
  background-color: #ffffff;
  border: 1px solid #c5c5c6;
  border-radius: 10px;
  overflow: scroll;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
#weather-info h2 {
  font-size: 32px;
  margin-left: 40px;
}
#weather-info .city-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.city-title::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 0;
  left: 0;
  transform: translate(0%, -15%);
  background: url("../images/location.svg") no-repeat center/contain;
}
.city-info {
  text-align: center;
  width: 50%;
  background: #fef3e1;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
}
.city-info-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

#weather-info .city-status {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#weather-info .city-status > p {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  font-weight: 600;
}
.city-weather {
  flex: 0 0 40%;
  padding: 40px 25px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(98, 184, 246, 1) 0%,
    rgba(44, 121, 193, 1) 83%
  );
  background: #fff;
}

/*---聊天室---*/
.chat-section {
  flex: 0 0 60%;
  padding: 25px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}
.chat-section_input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}
.chat-section_input textarea {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  width: 84%;
  min-height: 100px;
  padding: 15px;
  font-size: 16px;
}
.chat-section_input button {
  font-size: 16px;
  white-space: nowrap;
  width: 16%;
  background-color: #6498fe;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  padding: 17px 20px;
  height: fit-content;
  cursor: pointer;
}
.chat-section_room {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}
.bg-red {
  background-color: #fbe2e4;
}
.bg-green {
  background-color: #e3f6e2;
}
.bg-blue {
  background-color: #e7f1fc;
}
.msg {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  color: #5e5e5e;
  border-radius: 5px;
}

/*--一週氣象--*/
.weekly-weather {
  width: 100%;
  height: 20%;
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}
.weekly-weather h3 {
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.weekly-weather_container {
  display: flex;
  gap: 10px;
  background: #e4eaf8;
  padding: 12px;
  border-radius: 10px;
}
.weekly-weather_item {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 200ms ease;
}
.weekly-weather_item:hover {
  transform: scale(1.1);
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}
.weekly-weather_item.active {
  background: #fff;
  color: #222831;
  border-radius: 10px;
}
.weekly-weather_item svg {
  width: 32px;
  height: 32px;
}
.weekly-weather_item svg path {
  transition: fill 0.2s ease-in-out;
}
.weekly-text {
  transition: color 0.2s ease-in-out;
}

/*--左上提醒區塊--*/
.work-notice {
  position: absolute;
  top: 80px;
  padding: 25px 15px;
  background-color: #fff;
  border-radius: 10px;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  z-index: 99;
}
.work-notice_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.footer {
  height: 40px;
  background: #e4eaf8;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--下雨動畫--*/
canvas#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* 置於最底層 */
}

.content {
  position: relative;
  padding: 0 20px 20px 20px;
  z-index: 1;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.background-dec {
  position: absolute;
  width: 630px;
  height: 395px;
  background: url(../images/dec-cloud.svg) no-repeat center/contain;
  bottom: 0;
  left: -4%;
  animation: float 4s ease-in-out infinite;
}
.background-dec-2 {
  position: absolute;
  width: 315px;
  height: 195px;
  background: url(../images/dec-cloud-2.svg) no-repeat center/contain;
  top: 50%;
  left: 45%;
  animation: float 6s ease-in-out infinite;
}
.background-dec-3 {
  position: absolute;
  width: 630px;
  height: 395px;
  background: url(../images/dec-cloud.svg) no-repeat center/contain;
  top: 20%;
  right: -7%;
  animation: float 4s ease-in-out infinite;
}
#weather-info > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (min-width: 601px) and (max-width: 1200px) {
  .main {
    flex-direction: column;
  }
  .main-left,
  .main-right {
    width: 100%;
  }
  .main-right {
    flex-direction: row;
    height: 100%;
  }
  .background-dec-2 {
    display: none;
  }
  .city-info-container {
    flex-direction: column;
  }
  .city-info {
    width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    margin-bottom: 40px;
  }
  .main {
    flex-direction: column;
  }
  .main-left,
  .main-right {
    width: 100%;
    height: unset;
  }
  .main-left {
    gap: 20px;
  }
  .main-right {
    flex-direction: column;
    height: 100%;
  }
  .work-notice {
    width: 100%;
    top: 0;
    position: relative;
  }
  #weather-info .city-status {
    flex-direction: column;
  }
  .weekly-weather_container {
    flex-wrap: wrap;
  }
  .weekly-weather_item {
    width: 20%;
  }
  .chat-section {
    gap: 30px;
    max-height: 80vh;
  }
  .chat-section_input textarea {
    width: 100%;
  }
  .chat-section_input {
    flex-direction: column;
  }
  .chat-section_input button {
    width: 100%;
  }
  .background-dec,
  .background-dec-2,
  .background-dec-3 {
    display: none;
  }
  .city-info-container {
    flex-direction: column;
  }
  .city-info {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .map-block svg {
    width: 100%;
    height: 100%;
  }
}
